<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Przystań dzieci</title>
        <link href="../resources/css/index.css" rel="stylesheet"/>
    </head>

    <body>

        <!-- You write code for this content block in another file -->
        {% block content %}{% endblock %}

        <script src="js/main.js"></script>
    </body>

    <script src="../resources/js/index.js"></script>

</html>